# TheSharkProject Cleanig Room

## EDA - First Aproximation

### Importing the libraries and loading the data

In [45]:
import pandas as pd

In [3]:
dfsk = pd.read_csv('data/attacks.csv',encoding = "ISO-8859-1")

### Just a look:

In [7]:
dfsk.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
18208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4688,1943.00.00.b,Fall 1943,1943.0,Unprovoked,USA,Hawaii,"Midway Island, Northwestern Hawaiian Islands",Spearfishing,2 males,M,...,"""small sharks""",W. M. Chapman,1943.00.00.b - Midway.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1943.00.00.b,1943.00.00.b,1615.0,NaN,NaN
7836,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1591,2005.05.02,02-May-2005,2005.0,Unprovoked,USA,Hawaii,"Noreiga's, Maui",Surfing,Scott Hoyt,M,...,"Tiger shark, 3 m [10']","T. Hurley, Honolulu Advertiser; L. Fujimoto, M...",2005.05.02.a-Hoyt.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2005.05.02,2005.05.02,4712.0,NaN,NaN
19377,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2883,1984.09.17,17-Sep-1984,1984.0,Unprovoked,USA,California,"Mission Beach, San Diego County",Wading,Brian Cramer,M,...,small blue shark,"R. Collier, p.93",1984.09.17-Cramer_Collier.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1984.09.17,1984.09.17,3420.0,NaN,NaN

#### A random sample show us lots of gaps in our data, let's see the size of the dataframe. How many rows and columns we have?

In [14]:
print(dfsk.shape)

(25723, 24)

#### An other point of view,  number of columns, Columns names, non - null and Dtype.

In [16]:
dfsk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [12]:
dfsk.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [35]:
orig_col = dfsk.columns
orig_col

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [46]:
dfsk.Type.value_counts()

Unprovoked      4595
Provoked         574
Invalid          547
Sea Disaster     239
Boating          203
Boat             137
Questionable       2
Boatomg            1
Name: Type, dtype: int64

In [47]:
dfsk.Country.value_counts()

USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64

In [48]:
dfsk.Area.value_counts()

Florida                                 1037
New South Wales                          486
Queensland                               311
Hawaii                                   298
California                               290
                                        ...
Ysabel Island                              1
 Lau Province                              1
South Coast, East New Britain              1
Between Southampton & Canary Islands       1
Moala Island                               1
Name: Area, Length: 825, dtype: int64

In [49]:
dfsk.Activity.value_counts()

Surfing                                   971
Swimming                                  869
Fishing                                   431
Spearfishing                              333
Bathing                                   162
                                         ...
Playing with a frisbee in the shallows      1
Sinking of the ferryboat Dumaguete          1
Wreck of the Storm King                     1
Feeding mullet to sharks                    1
Wreck of  large double sailing canoe        1
Name: Activity, Length: 1532, dtype: int64

In [50]:
dfsk['Fatal (Y/N)'].value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal (Y/N), dtype: int64

In [51]:
dfsk['Species '].value_counts()

White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   88
Tiger shark                                                                                                                       73
                                                                                                                                ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                  1
Bull shark, 2.3 m [7.5']                                                                                                           1
0.9 m  [3'] shark                                                                                                                  1
Mako shark, 14'                                                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: Species , Length: 1549, dtype: int64

In [52]:
dfsk['Investigator or Source'].value_counts()

C. Moore, GSAF                                                    105
C. Creswell, GSAF                                                  92
S. Petersohn, GSAF                                                 82
R. Collier                                                         55
T. Peake, GSAF                                                     48
                                                                 ...
Deseret News, 2/19/1996; European Stars and Stripes, 2/20/1996      1
Daily Telegraph, 2/29/1996, p.5; H. Edwards, pp.31-32               1
J. Royle, et. al. (1997)                                            1
Advertiser, 3/6/1996, p.9; Daily Mail (London), 3/9/1996            1
S.W. Baker                                                          1
Name: Investigator or Source, Length: 4969, dtype: int64

In [53]:
dfsk['href'].value_counts()

http://sharkattackfile.net/spreadsheets/pdf_directory/w014.01.25-Grant.pdf                 4
http://sharkattackfile.net/spreadsheets/pdf_directory/2014.10.02.b-Vandenberg.pdf          3
http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf        2
http://sharkattackfile.net/spreadsheets/pdf_directory/1934.12.23.a-b-Inman.pdf             2
http://sharkattackfile.net/spreadsheets/pdf_directory/1929.03.04.a-b.Roads-Aldridge.pdf    2
                                                                                          ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.10-Warnock.pdf               1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.16-Ferguson.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.18-Wallersheim.pdf           1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.09.24-boat.pdf                  1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                    1
Name: href, Length: 6285, dtype: int64

In [54]:
dfsk['href formula'].value_counts()

http://sharkattackfile.net/spreadsheets/pdf_directory/1923.00.00.a-NJ fisherman.pdf      2
http://sharkattackfile.net/spreadsheets/pdf_directory/1935.06.05.R-SolomonIslands.pdf    2
http://sharkattackfile.net/spreadsheets/pdf_directory/1916.12.08.a-b-German.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1907.10.16.R-HongKong.pdf          2
http://sharkattackfile.net/spreadsheets/pdf_directory/1921.11.27.a-b-Jack.pdf            2
                                                                                        ..
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.a-TroyJesse.pdf         1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.10.30.b-Dolsky.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.a-Morson.pdf            1
http://sharkattackfile.net/spreadsheets/pdf_directory/1999.11.00.b-Bayo.pdf              1
http://sharkattackfile.net/spreadsheets/pdf_directoryND-0001-Ceylon.pdf                  1
Name: href formula, Length: 6290, dtype: int64