# TheSharkProject Cleanig Room

## EDA - First Aproximation

<img src="Images/shark.gif" width="300" align="left">

### Importing the libraries and loading the data

In [1]:
import pandas as pd
import sys
from IPython.display import clear_output
from src import cleanning_func as cf

#### Loading attacks.csv with encoding.

In [2]:
dfsk = pd.read_csv('data/attacks.csv',encoding = "ISO-8859-1")

### Just a look:

In [3]:
dfsk.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
24471,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25265,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1291,2008.02.06,06-Feb-2008,2008.0,Unprovoked,USA,Florida,"Opposite Patrick Air Force Base, Brevard County",Surf-skiing,Unidentified,M,...,3' shark,"Vero Beach Press Journal, 2/7/2008",2008.02.06-Surfer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2008.02.06,2008.02.06,5012.0,NaN,NaN
10948,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7817,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5483,1906.01.28,28-Jan-1906,1906.0,Unprovoked,AUSTRALIA,New South Wales,Georges River,Bathing,William Joseph Dobson.,M,...,NaN,"J. Green, p.31",1906.01.28-Dobson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1906.01.28,1906.01.28,820.0,NaN,NaN
19313,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A random sample show us lots of gaps in our data, let's see the size of the dataframe. How many rows and columns we have?

In [4]:
print(dfsk.shape)

(25723, 24)

#### An other point of view,  number of columns, Columns names, non - null and Dtype.

In [5]:
dfsk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

#### Here is where a magic function has born....

# RAS_the_one_and_only_one_cell_output_analisys_program(your_df)

#### I invite you to try it, and to see the code in /scr of this repo. I could continue improve it, if there is cuorum I will, but I'm on a mission  to solve the global infestation of sharks attacks of a dataframe. I put a reminder postit in the entrance of this worm hole.

In [6]:
new_df = cf.RAS_the_one_and_only_one_cell_output_analisys_program(dfsk)

-----------SOME DATA TO HELP-----------
Column index   : 1 of 24
Number of rows : 25723
Number nam/nul : 19421 thats the 75.5 %
Example unique : ['25-Jun-2018' '18-Jun-2018' '09-Jun-2018']

KeyboardInterrupt: Interrupted by user

In [ ]:
new_df