# TheSharkProject Cleanig Room

## EDA - First Aproximation

<img src="Images/shark.gif" width="300" align="left">

### Importing the libraries and loading the data

In [1]:
import pandas as pd
import sys
from IPython.display import clear_output
from src import cleanning_func as cf

#### Loading attacks.csv with encoding.

In [2]:
dfsk = pd.read_csv('data/attacks.csv',encoding = "ISO-8859-1")

### Just a look:

In [3]:
dfsk.sample(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
1338,2007.08.28.b,28-Aug-2007,2007.0,Unprovoked,USA,Hawaii,"Ka'a'awa, Oahu",Body boarding,Joshua Sumait,M,...,"Tiger shark, 10' to 12'","Honolulu Advertiser, 8/29/2007",2007.08.28.b-Sumait.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2007.08.28.b,2007.08.28.b,4965.0,NaN,NaN
25686,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22602,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8519,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,2012.08.15,15-Aug-2012,2012.0,Unprovoked,USA,Alabama,"Gulf Shores, Baldwin County",Wading or swimming,"male, a tourist from Germany",M,...,NaN,"Fox 10, 8/17/2012",2012.08.15-GulfShoresSwimmer.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2012.08.15,2012.08.15,5551.0,NaN,NaN
11692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### A random sample show us lots of gaps in our data, let's see the size of the dataframe. How many rows and columns we have?

In [4]:
print(dfsk.shape)

(25723, 24)

#### An other point of view,  number of columns, Columns names, non - null and Dtype.

In [5]:
dfsk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

#### Here is where a magic function has born....

# RAS_the_one_and_only_one_cell_output_analisys_program(your_df)

#### I invite you to try it, and to see the code in /scr of this repo. I could continue improve it, if there is cuorum I will, but I'm on a mission  to solve the global infestation of sharks attacks of a dataframe. I put a reminder postit in the entrance of this worm hole.

In [6]:
new_col = cf.RAS_the_one_and_only_one_cell_output_analisys_program(dfsk)

{0: 'Case Number', 1: 'Date', 2: 'Year', 3: 'Type', 4: 'Country', 5: 'Area', 6: 'Location', 7: 'Activity', 8: 'Name', 9: 'Sex ', 10: 'Age', 11: 'Injury', 12: 'Fatal (Y/N)', 13: 'Time', 14: 'Species ', 15: 'Investigator or Source', 16: 'pdf', 17: 'href formula', 18: 'href', 19: 'Case Number.1', 20: 'Case Number.2', 21: 'original order', 22: 'Unnamed: 22', 23: 'Unnamed: 23'}
['Case', 'Date', 'Year', 'del', 'Country', 'del', 'del', 'del', 'del', 'Sex', 'Age', 'del', 'Fatal', 'del', 'Species', 'Inv', 'del', 'del', 'del', 'del', 'del', 'del', 'del', 'del']
Pass the result of this function as arg** of  del_col(arg) to drop "del" tagged columns

In [7]:
new_col

['Case',
 'Date',
 'Year',
 'del',
 'Country',
 'del',
 'del',
 'del',
 'del',
 'Sex',
 'Age',
 'del',
 'Fatal',
 'del',
 'Species',
 'Inv',
 'del',
 'del',
 'del',
 'del',
 'del',
 'del',
 'del',
 'del']

In [8]:
df = dfsk.set_axis(new_col, axis=1)

In [25]:
del df['del']

In [26]:
df

,Case,Date,Year,Country,Sex,Age,Fatal,Species,Inv
0,2018.06.25,25-Jun-2018,2018.0,USA,F,57,N,White shark,"R. Collier, GSAF"
1,2018.06.18,18-Jun-2018,2018.0,USA,F,11,N,NaN,"K.McMurray, TrackingSharks.com"
2,2018.06.09,09-Jun-2018,2018.0,USA,M,48,N,NaN,"K.McMurray, TrackingSharks.com"
3,2018.06.08,08-Jun-2018,2018.0,AUSTRALIA,M,NaN,N,2 m shark,"B. Myatt, GSAF"
4,2018.06.04,04-Jun-2018,2018.0,MEXICO,M,NaN,N,"Tiger shark, 3m",A .Kipper
...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df.dropna(axis=0, how='all',thresh=4, inplace = True)

In [33]:
df.sample(10)

,Case,Date,Year,Country,Sex,Age,Fatal,Species,Inv
4122,1959.00.00.e,1959,1959.0,ATLANTIC OCEAN,M,NaN,N,"Tiger shark, 12' ?","New York Times, 1/29/1960"
4654,1944.02.18,18-Feb-1944,1944.0,INDIA,M,12,Y,NaN,"Indian Express, 2/19/1944"
240,2016.07.23.b,23-Jul-2016,2016.0,AUSTRALIA,M,36,N,NaN,"C. Black, GSAF"
3232,1975.03.29,29-Mar-1975,1975.0,SOUTH AFRICA,M,NaN,NaN,Shark involvement prior to death was not confi...,"B. Davis, Natal Sharks Board"
3391,1970.06.13.b,13-Jun-1970,1970.0,GRENADA,M,16,Y,NaN,"E. Pace, FSAF"
2601,1991.04.24,24-Apr-1991,1991.0,BRAZIL,NaN,NaN,N,"170-kg, 2.8 m shark",M. Szpilman
6033,1849.06.08.b,08-Jun-1849,1849.0,USA,M,NaN,Y,NaN,"Adams Sentinel, 8/6/1849"
3259,1974.08.16.a,16-Aug-1974,1974.0,HONG KONG,M,18,N,NaN,"A. MacCormick, p.157"
4456,1950.12.19.R,Reported 19-Dec-1950,1950.0,AUSTRALIA,NaN,NaN,N,"Wobbegong shark, 6'","Canberra Times, 12/19/1950"
2271,1996.11.29.a,29-Nov-1996,1996.0,USA,M,45,N,3 m to 5 m [10' to 16.5'] white shark,"R. Collier, p.158"

In [10]:
dfsk['Year'].isna().sum()

19423

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

['Case Number',
 'Date',
 'Year',
 'Type',
 'Country',
 'Area',
 'Location',
 'Activity',
 'Name',
 'Sex ',
 'Age',
 'Injury',
 'Fatal (Y/N)',
 'Time',
 'Species ',
 'Investigator or Source',
 'pdf',
 'href formula',
 'href',
 'Case Number.1',
 'Case Number.2',
 'original order',
 'Unnamed: 22',
 'Unnamed: 23']

{0: 'CaseN',
 1: 'Date',
 2: 'Year',
 3: 'Type',
 4: 'Country',
 5: 'Area',
 6: 'Location',
 7: 'Activity',
 8: 'Name',
 9: 'Sex',
 10: 'Age',
 11: 'Injury',
 12: 'Fatal',
 13: 'Time',
 14: 'Species',
 15: 'Investigator',
 16: 'pdf',
 17: 'href formula',
 18: 'href',
 19: 'Case Number.1',
 20: 'Case Number.2',
 21: 'original order',
 22: 'Unnamed: 22',
 23: 'Unnamed: 23'}

In [14]:
dfsk.columns = coldic.values()

In [35]:
df.Country.value_counts()

USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: Country, Length: 212, dtype: int64

In [36]:
df.Fatal.value_counts()

N          4293
Y          1388
UNKNOWN      71
 N            7
M             1
2017          1
N             1
y             1
Name: Fatal, dtype: int64

In [37]:
df.Species.value_counts()

White shark                                                                                                                      163
Shark involvement prior to death was not confirmed                                                                               105
Invalid                                                                                                                          102
Shark involvement not confirmed                                                                                                   88
Tiger shark                                                                                                                       73
                                                                                                                                ...
1.2 m to 1.5 m [4.5' to 5'] shark                                                                                                  1
Bull shark, 2.3 m [7.5']                                                                                                           1
0.9 m  [3'] shark                                                                                                                  1
Mako shark, 14'                                                                                                                    1
Said to involve a grey nurse shark that leapt out of the water and  seized the boy but species identification is questionable      1
Name: Species, Length: 1549, dtype: int64

In [39]:
df.Inv.value_counts()

C. Moore, GSAF                                                    105
C. Creswell, GSAF                                                  92
S. Petersohn, GSAF                                                 82
R. Collier                                                         55
T. Peake, GSAF                                                     48
                                                                 ...
Deseret News, 2/19/1996; European Stars and Stripes, 2/20/1996      1
Daily Telegraph, 2/29/1996, p.5; H. Edwards, pp.31-32               1
J. Royle, et. al. (1997)                                            1
Advertiser, 3/6/1996, p.9; Daily Mail (London), 3/9/1996            1
S.W. Baker                                                          1
Name: Inv, Length: 4969, dtype: int64

In [41]:
a = df.Inv.unique()
len(a)

4970